name: flutter_motion_lab
description: "Premium Flutter Animasyonları Sergileme Uygulaması - Gerçek dünya uygulamalarından ilham alınmış animasyon örnekleri"
publish_to: 'none'
version: 1.0.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  lottie: ^3.1.0
  just_audio: ^0.10.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/animations/equalizer.json
    - assets/audio/